ion-label{
    text-shadow: 0 0 #1a191930 !important;
}

/*@media (max-width: 500px) {
    .maincontent-toolbar{
        margin-top: 180px!important;
        padding-top: 30px;
    }
}*/

.maincontent-toolbar{
    margin-top: 130px!important;
    padding-top: 40px;
}

.maincontent-notoolbar{
    //margin-top: 40px!important;
    padding-top: 70px;
}

