<ion-grid fixed>
  <!--<div mat-dialog-actions align="end">
    <button mat-button (click)="cancelar()">
      <mat-icon class="red-icon">close</mat-icon>{{'Cancelar' | translate}}
    </button>
    <button mat-button cdkFocusInitial (click)="guardar()" [disabled]="codigo.value == '' || descripcion.value == '' 
    || medio.idDre === null || medio.idGrupoMedios === null || medio.idCategoriaMedios === null || medio.idBase === null">
      <mat-icon class="green-icon">done</mat-icon>{{'Guardar' | translate}}
    </button>
  </div>-->
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label position="stacked">{{'Código' | translate}} (*)</ion-label>
        <ion-input #codigo required [(ngModel)]="medio.medio"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="stacked">{{'Descripción' | translate}}</ion-label>
        <ion-input #descripcion required [(ngModel)]="medio.descripcion"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-toolbar>
  <ion-segment [(ngModel)]="segment" color="warning">
    <ion-segment-button value="0" (click)="segmentSelected(0)">
      <ion-item class="tab-option">
        <ion-thumbnail slot="start" class="tab-img">
          <img src="./assets/img/general.png">
        </ion-thumbnail>
        <ion-label>{{ 'Datos generales' | translate}}</ion-label>
      </ion-item>
    </ion-segment-button>
    <ion-segment-button value="1" (click)="segmentSelected(1)">
      <ion-item class="tab-option">
        <ion-thumbnail slot="start" class="tab-img">
          <img src="./assets/img/presupuesto.png">
        </ion-thumbnail>
        <ion-label>{{ 'Presupuestos' | translate}}</ion-label>
      </ion-item>
    </ion-segment-button>
    <ion-segment-button value="2" (click)="segmentSelected(2)">
      <ion-item class="tab-option">
        <ion-thumbnail slot="start" class="tab-img">
          <img src="./assets/img/resources.png">
        </ion-thumbnail>
        <ion-label>{{ 'Recursos' | translate}}</ion-label>
      </ion-item>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-slides #slider [options]="slideOpts" (ionSlideDidChange)="slideChanged()" scrollbar="true">
  <ion-slide>
    <datos-generales-medio [medio]="medio" [bases]="bases" [grupoMedios]="grupoMedios" [categoriasMedios]="categoriasMedios" [agrupacionesMedios]="agrupacionesMedios" (medioChanged)="updateMedio($event)" (grupoMedioChanged)="updateMedioByGrupoMedio($event)"></datos-generales-medio>
  </ion-slide>
  <ion-slide>
    <presupuestos-medio [medio]="medio" (medioChanged)="updateMedio($event)"></presupuestos-medio>
  </ion-slide>
  <ion-slide>
    <recursos-medio [medio]="medio" (medioChanged)="updateMedio($event)"></recursos-medio>
  </ion-slide>
</ion-slides>
