<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="intensidad">
            <th mat-header-cell *matHeaderCellDef> {{'Intensidad' | translate}} </th>
            <!--<td mat-cell *matCellDef="let element"> {{element.intensidad }} </td>-->

            <td mat-cell *matCellDef="let element; let i = index" [attr.rowspan]="getRowSpan('intensidad', i)"
              [style.display]="getRowSpan('intensidad', i) ? '' : 'none'"> {{element.intensidad}} </td>
          </ng-container>

          <ng-container matColumnDef="numerofuegos">
            <th mat-header-cell *matHeaderCellDef> {{'Número de fuegos' | translate}} </th>
            <td mat-cell *matCellDef="let element; let i = index" [attr.rowspan]="getRowSpan('numeroFuegos', i)"
              [style.display]="getRowSpan('numeroFuegos', i) ? '' : 'none'"> {{element.numeroFuegos}} </td>
          </ng-container>

          <ng-container matColumnDef="velocidad50perc">
            <th mat-header-cell *matHeaderCellDef> {{'Velocidad' | translate}}</th>
            <td mat-cell *matCellDef="let element; let i = index" [attr.rowspan]="getRowSpan('velocidad50perc', i)"
              [style.display]="getRowSpan('velocidad50perc', i) ? '' : 'none'"> {{element.velocidad50perc}}
            </td>
          </ng-container>

          <ng-container matColumnDef="tamano50perc">
            <th mat-header-cell *matHeaderCellDef> {{'Tamaño' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.tamano50perc }} </td>
          </ng-container>

          <ng-container matColumnDef="frec50perc">
            <th mat-header-cell *matHeaderCellDef> {{'Frecuencia' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.frec50perc }} </td>
          </ng-container>


          <ng-container matColumnDef="velocidad90perc">
            <th mat-header-cell *matHeaderCellDef> {{'Velocidad' | translate}} </th>
            <td mat-cell *matCellDef="let element; let i = index" [attr.rowspan]="getRowSpan('velocidad90perc', i)"
              [style.display]="getRowSpan('velocidad90perc', i) ? '' : 'none'"> {{element.velocidad90perc}}
            </td>
          </ng-container>

          <ng-container matColumnDef="tamano90perc">
            <th mat-header-cell *matHeaderCellDef> {{'Tamaño' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.tamano90perc }} </td>
          </ng-container>

          <ng-container matColumnDef="frec90perc">
            <th mat-header-cell *matHeaderCellDef> {{'Frecuencia' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.frec90perc }} </td>
          </ng-container>

          <ng-container matColumnDef="lr">
            <th mat-header-cell *matHeaderCellDef> {{'LR' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.lugar }} </td>
          </ng-container>

          <ng-container matColumnDef="empty">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"></th>
          </ng-container>

          <ng-container matColumnDef="50percentil">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"> {{'Percentil' |
              translate}} 50
            </th>
          </ng-container>

          <ng-container matColumnDef="90percentil">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"> {{'Percentil' |
              translate}} 90
            </th>
          </ng-container>

          <ng-container matColumnDef="empty1">
            <th mat-header-cell *matHeaderCellDef></th>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['empty','50percentil', '90percentil', 'empty1']"></tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>