.show-result{
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-container {
    max-height: calc(100vh - 400px);
    overflow: auto;
}

.mat-radio-button{
    margin-right: 8px;
}

.mat-row:hover{
    background-color: white;
}

.double-table-content{
    margin-right: 2px;
    //margin-left: 2px;
}

.show-result mat-label{
    font-weight: 500;
    margin-right: 2px;
}

ion-col ion-item {
    --border-color: white;
    min-height: 60px;
  }
